# Примеры целочисленного типа

In [1]:
5

5

In [2]:
3435

3435

#  Вещественные числа

In [4]:
0.5

0.5

In [5]:
1.25

1.25

In [6]:
34.65

34.65

# Строки

In [7]:
primer = "Строка"

In [8]:
print (primer)

Строка

# Примеры основных математических операций

# Сложение

In [11]:
a = 4.5
b = 5
c = a+b
print(c)

9.5

# Вычитание

In [12]:
a = 10
b = 23
c = a-b
print(c)

-13

# Умножение

In [13]:
a = 6
b = 7 
c = a*b
print(c)

42

# Возведение в степень

In [16]:
a = 20 ** 4
print(a)

160000

In [17]:
a = 30
b = 2
c = pow (a,b)
print(c)

900

# Деление

In [15]:
a = 5 
b = 20 
c = b/a
print(c)

4.0

# Целочисленное деление

In [18]:
a = 9
b = 4 
c = a // b
print(c)

2

# Остаток от деления

In [20]:
a = 9
b = 4
c = a % b
print(c)

1

# Конкатенация строк

In [21]:
a = 'Анализ '
b = 'Данных.'
c = a + b
print(c)

Анализ Данных.

# Репликация строк

In [23]:
a =  'Анализ'
b = 'a' * 3
print (b)

aaa

# Конкатенация строки и числа

In [36]:
a = 'Analiz'
b = 7
c = a + str(b)
print(c)
print(type(c))

Analiz7
<class 'str'>

# Длина строковой переменной

In [39]:
a = 'Длина строковой пременной'
print(len(a))

25

# Работа с List

# Создайте список с числовыми данными одним способом и список строк другим способом

In [40]:
a = list(range(5))
print(a)

[0, 1, 2, 3, 4]

In [41]:
a = ['Анализ', 'danuh']
print(a)

['Анализ', 'danuh']

# Выполните конкатенацию созданных списков и сохраните результат в новую переменную

In [42]:
a = list(range(5))
b = ['Анализ', 'danuh']
c = a + b
print(c)

[0, 1, 2, 3, 4, 'Анализ', 'danuh']

# Добавьте новый элемент в конец любого списка

In [43]:
a = list(range(6))
print(a)
a.append('f')
print(a)

[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5, 'f']

# Добавьте новый элемент в список с указанием индекса места вставки

In [44]:
a = list(range(7))
print(a)
a.insert(4,"bb")
print(a)

[0, 1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 'bb', 4, 5, 6]

# Удалите элемент, равный заданному значению, из списка

In [45]:
a = list(range(5))
print(a)
a.remove(3)
print(a)

[0, 1, 2, 3, 4]
[0, 1, 2, 4]

# Удалите последний элемент из списка

In [48]:
a = list(range(7))
print(a)
list.pop(a)
print(a)

[0, 1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 4, 5]

# Удалите элемент по индексу

In [54]:
a = list(range(8))
print(a)
del a[2]
print(a)

[0, 1, 2, 3, 4, 5, 6, 7]
[0, 1, 3, 4, 5, 6, 7]

# Создайте вложенный список (список, элементами котрого являются списки)

In [59]:
a = ['fjghd','fdghdf','popkp,kl']
b = ['fdsjfs','djsfls','lfdgk','bvn']
c = [a,b]
print(c)

[['fjghd', 'fdghdf', 'popkp,kl'], ['fdsjfs', 'djsfls', 'lfdgk', 'bvn']]

# Создайте список из чисел и отсортируйте его по убыванию и по возрастанию, напечатайте результат

In [63]:
a = [434,467,2,1,65,89,976,14,6]
a.sort()
print(a)
a.sort(reverse = True)
print(a)

[1, 2, 6, 14, 65, 89, 434, 467, 976]
[976, 467, 434, 89, 65, 14, 6, 2, 1]

# Выведите срез списка по индексам

In [65]:
a = [1.3,454,456,786,2,11,435,646]
print(a[0:4])

[1.3, 454, 456, 786]

# Выведите элемент списка с заданным индексом

In [66]:
a = [124,645,756,322,676,121,12]
b = a.copy()
el = b.pop(2)
print(a)
print(el)

[124, 645, 756, 322, 676, 121, 12]
756

# Замените элемент списка с заданным индексом

In [68]:
a = [13,353,4567,98,14,60,14,53]
print(a)
del a[1]
a.insert(1,54)
print(a)

[13, 353, 4567, 98, 14, 60, 14, 53]
[13, 54, 4567, 98, 14, 60, 14, 53]

# Создайте копию списка и сохраните ее в новую переменную

In [78]:
a = [13.23,4546,5465,67,678678,67]
b = a.copy()
print(a)
print(b)

[13.23, 4546, 5465, 67, 678678, 67]
[13.23, 4546, 5465, 67, 678678, 67]

# Используя цикл for выполните любую операцию с каждым элементом списка. Обязательно прокомментируйте ваши действия.

In [77]:
a = [12312,345646,868,233,23,6,344545,456]
for i in a:
    print(i+1)
    #Выводим каждый элемент списка и добавляем ему

12313
345647
869
234
24
7
344546
457

 # Работа с типом данных Tuple (кортеж)

# Создайте кортеж чисел, выведите его срез

In [79]:
a = tuple([43,65,78,789,567])
print(a)
print (a[0:3])

(43, 65, 78, 789, 567)
(43, 65, 78)

# Напишите, чем кортеж отличается от списка?

Кортежи неизменяемы, а списки можно изменить

# Используя приведение типа, создайте список из кортежа

In [85]:
a = tuple([43,65,78,789,567])
b = list(a)
print(a)
print(b)
b.append("ff")
print(b)

(43, 65, 78, 789, 567)
[43, 65, 78, 789, 567]
[43, 65, 78, 789, 567, 'ff']

# Работа с типом данных Dictionary (словарь)

# Создайте словарь, состоящий из нескольких элементов. В качестве ключа пусть будет номер лабораторной, а в качестве значений тема/название лабораторной.

In [2]:
a = dict([(-1, 'Подготовительная работа'), (0, 'Numpy and OLAP'), (1, 'Pandas and etc')])
print (a)

{-1: 'Подготовительная работа', 0: 'Numpy and OLAP', 1: 'Pandas and etc'}

# Выведите keys, values и items словаря

In [6]:
a = dict([(-1, 'Подготовительная работа'), (0, 'Numpy and OLAP'), (1, 'Pandas and etc')])
print (a.keys())
print (a.values())
print (a.items())

dict_keys([-1, 0, 1])
dict_values(['Подготовительная работа', 'Numpy and OLAP', 'Pandas and etc'])
dict_items([(-1, 'Подготовительная работа'), (0, 'Numpy and OLAP'), (1, 'Pandas and etc')])

# Продемонстрируйте доступ по ключу. Например, выведите название второй лабораторной

In [7]:
a = dict([(-1, 'Подготовительная работа'), (0, 'Numpy and OLAP'), (1, 'Pandas and etc')])
print (a.get(0))

Numpy and OLAP

# Измените значение списка

In [8]:
a = dict([(-1, 'Подготовительная работа'), (0, 'Numpy and OLAP'), (1, 'Pandas and etc')])
print(a)
a[0] = 'mmmmm'
print(a)

{-1: 'Подготовительная работа', 0: 'Numpy and OLAP', 1: 'Pandas and etc'}
{-1: 'Подготовительная работа', 0: 'mmmmm', 1: 'Pandas and etc'}

# Добавьте новый элемент (пару ключ/значение) в словарь

In [10]:
a = dict([(-1, 'Подготовительная работа'), (0, 'Numpy and OLAP'), (1, 'Pandas and etc')])
a.update([(2, 'Update')])
print(a)

{-1: 'Подготовительная работа', 0: 'Numpy and OLAP', 1: 'Pandas and etc', 2: 'Update'}

# Работа с типом Set

# Напишите различия множества, списка и кортежа

Set - изменяемые, неупорядоченные 
List - изменяемые, упорядоченные 
Tuples - неизменяемые, упорядоченные

#  Создайте множество двумя способами

In [18]:
a = set([34,36,67,3])
b = (2,4,5,6)
print (a)
print (b)

{3, 34, 67, 36}
(2, 4, 5, 6)

#  Создайте список, содержащий дубликаты элементов. Создайте множество из списка. Выведите созданные список и множество. Отличается ли содержимое множества от списка? Почему?

In [21]:
a = list((5,32,2,5,2))
b = set(a)
print (a)
print (b)
# Содержимое отличается 
# Set - объект из уникалных значений

[5, 32, 2, 5, 2]
{32, 2, 5}

# Создайте два множества, выведите их пересечение и объединение.

In [25]:
a = set([12,3,4,5,6,30,52])
b = set([30,12,4,6,5,72,90])
C = a & b
print(C)

{4, 5, 6, 12, 30}

In [27]:
a = set([12,3,4,5,6,30,52])
b = set([30,12,4,6,5,72,90])
c = a | b
print (c)

{3, 4, 5, 6, 72, 12, 52, 90, 30}

# Создание функций

# Объявите функции, вычисляющие сумму, среднее, максимальное и минимальное значение списка. Продемонстрируйте их работу.

In [86]:
# Сумма
def sumM(a,b):
    c = a + b
    return c
val = sumM(1,3)
print (val)

4

In [85]:
# Среднее 
def sredn(a):
    c=0
    if a in a:
        c += a
        return (c)
    return (c)  
val = sredn([1,4,76,8,9,96,2])
print(val)

0

In [82]:
# Максимум 
def Maxmymn(a):
    c = max(a)
    return c
a = [123,45,887,5,1,2]
val = Maxmymn(a)
print (val)

887

In [83]:
# Минимум 
def Minmym(a):
    c = min(a)
    return c
a = [123,45,887,5,1,2]
val = Minmym(a)
print (val)

1

#  Вычислить данные статистики с помощью встроеных в питон функций (найти в документации)

In [1]:
import statistics 
a = [1,3,45,53,21,5,32,2]
b = statistics.mean(a)
print (b)

20.25

#  Найдите и продемонстрируйте работу 15 встроенных функций питон, которые вы считаете полезными и которые еще не использовались в данной работе. Прокомментируйте каждую.

In [61]:
#1
a  = 'dfnsdf'
print (a)
print(a.upper()) #Приведение строки к верхнему регистру 
#2
a = 'BBjjdfhHHKfdn'
print (a)
print (a.lower()) #Приведение строки к нижнему регистру 
#3
a = 'fsdfsJKHKJHKJ'
print (a)
print (a.capitalize()) #Приведение первого символа к верхнему регистру, а остальных к нижнему
#4
print (bool(5)) # Проверка на равенство нулю 
#5
a = [1,2,3,4,3,2,1]
def palindrom(a): # Возвращает True если последовательность палиндром 
    for i, item in enumerate(a):# enumerate считает в цикле количество элементов (по одному элементу за раз)
        if item != a[-(i+1)]:
            return False 
    return True 
b = palindrom(a)
print (b)
#6 
c = 0
#print (input(c)) # Эта функция запрашивает у пользователя ввод, ждёт нажатия клавиши Enter, а затем возвращает набранный текст.
# 7 # filter функция исключения элементов в объекте 
ages = [1,43,52,53,1,4,5,3,2,12,44]
def fun(x):
    if x <18:
        return False
    else:
        return True
v = filter (fun,ages)    
for x in v:
    print (x)
# 8 
a = -4.349999999
print (abs(a)) # abc возвращает абсолютное значение числа 
# 9 
a = 10
print(bin(a)) #Преобразует целое число в двоичную строку с префиксом 0b.
# 10 
print(dir()) #Функция dir(), вызванная без аргумента, возвращает список имен в текущей локальной области, а вызванная с аргументом попытается вернуть список допустимых атрибутов для указанного объекта.
#11
a = [13,42,545,31,4234,34,]
c = frozenset(a) # Класс frozenset() преобразует строку или любую последовательность(итерацию) в неизменяемое множество frozenset
#del c[3]
# 12
print (id (c)) # Функция id() возвращает уникальный идентификатор для указанного объекта.
#13
a = 23
c = oct(a)
print (c) # Функция oct() преобразует целое число в восьмеричную строку с префиксом 0o.
# 14
print (ord('g')) # Функция ord() для символа x вернет число, из таблицы символов Unicode представляющее его позицию.
# 15 
a = 1/7
print (round(a,4)) #Функция round() вернет число, округленное до точности после десятичной точки.

dfnsdf
DFNSDF
BBjjdfhHHKfdn
bbjjdfhhhkfdn
fsdfsJKHKJHKJ
Fsdfsjkhkjhkj
True
True
43
52
53
44
4.349999999
0b1010
['In', 'Out', '_', '_45', '_48', '__', '___', '__builtin__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__spec__', '_dh', '_i', '_i1', '_i10', '_i11', '_i12', '_i13', '_i14', '_i15', '_i16', '_i17', '_i18', '_i19', '_i2', '_i20', '_i21', '_i22', '_i23', '_i24', '_i25', '_i26', '_i27', '_i28', '_i29', '_i3', '_i30', '_i31', '_i32', '_i33', '_i34', '_i35', '_i36', '_i37', '_i38', '_i39', '_i4', '_i40', '_i41', '_i42', '_i43', '_i44', '_i45', '_i46', '_i47', '_i48', '_i49', '_i5', '_i50', '_i51', '_i52', '_i53', '_i54', '_i55', '_i56', '_i57', '_i58', '_i59', '_i6', '_i60', '_i61', '_i7', '_i8', '_i9', '_ih', '_ii', '_iii', '_oh', 'a', 'ages', 'b', 'c', 'exit', 'fun', 'get_ipython', 'h', 'l1', 'palindrom', 'quit', 'statistic_avg_of_list', 'statistics', 'v', 'x', 'с']
2786837850464
0o27
103
0.1429

# Знакомство с ООП в Python. Создайте класс c 2-3 свойствами и 2-3 методами. Продемонстрируйте работу с данным классом.

In [79]:
class PodgotovLab:
    sym = 0 
    def __init__ (self, name, grade):
        self.name = name
        self.grade = grade
        PodgotovLab.sym += grade
    def journal (self):
        print ("Name: {} Grade: {}".format(self.name, self.grade))
    def symn (self):
        print ("sum of grades: %d" %  PodgotovLab.sym)
if __name__ == "__main__":
    podgotovlab1 = PodgotovLab("Tom", 5)
    podgotovlab1.journal()
    podgotovlab1.symn()
    podgotovlab2 = PodgotovLab("Tony", 5)
    podgotovlab2.journal()
    podgotovlab2.symn()

Name: Tom Grade: 5
sum of grades: 5
Name: Tony Grade: 5
sum of grades: 10

In [80]:
# Класс получает значения имени и оценки, выводит оценку и имя ученика и считает сумму всех оценок учеников